/*  
 * Sanitize.css imports for normalization
 */
@import url("https://unpkg.com/sanitize.css");
@import url("https://unpkg.com/sanitize.css/typography.css");
@import url("https://unpkg.com/sanitize.css/reduce-motion.css");

html,
body {
  height: 100%;
  display: grid;
}

#desktop-buddy {
  position: relative;
  padding: 0;
  z-index: 2;
  max-height: 16vh;
  width: auto;
  left: 5vw;
  top: 1vh;
}

#inline-frame-guestbook {
  text-rendering: optimizeLegibility;
}

.--margin-center {
  margin: 0 auto;
}

.--align-right {
  text-align: right;
}

.--flex-item {
  display: flex;
}

.--flex-center {
  display: flex;
  justify-content: center;
}

.--flex-left {
  display: flex;
  justify-content: left;
}

.--splitcontent {
  display: flex;
  align-content: right;
}

.--splitcontent .--flex-one {
  flex: 1;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.numbertext {
  text-align: center;
}

.body--bg {
  background-image: url("assets/image/bg.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.body--center-hv {
  margin: auto;
}

.body--grid-wrapper {
  display: inline-grid;
  grid-column-gap: 0;
  grid-row-gap: 1.5rem;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.body--padding {
  padding: 5rem 0;
}

.body__first-row {
  grid-column: 1 / 3;
  grid-row: 1;
}

.body__second-row {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.short-bio {
  align-items: center;
}

.short-bio__icon {
  min-width: 110px;
  max-width: 100%;
  height: auto;
}

.short-bio__header {
  margin: 0;
  padding-left: 1rem;
}

.short-bio__title {
  margin: 0;
}

.short-bio--padding {
  padding-bottom: 1rem;
}

.window__commission-info {
  width: 670px;
}

.window__behind-the-site {
  width: 670px;
}

.window__profile {
  width: 700px;
}

.window-icon {
  margin-right: 0.3rem;
}

.window-color--neon-turquoise::before,
.window-color--neon-turquoise > .title-bar {
  background-color: #61fad5;
}

.window-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 15vw;
  max-height: 10vh;
}

.window-links__link-item {
  min-width: 5rem;
}

.link-icon {
  display: flex;
  margin: 0 -12px;
  justify-items: center;
  align-items: center;
}

.link-icon__item {
  margin: 0 12px;
}

.fieldset-options__multi_character-select {
  margin: 0;
}

.image-slides {
  height: 20em;
  width: auto;
}
